.name {
    background: -webkit-linear-gradient(rgb(126, 2, 197), rgb(15, 0, 224));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200%;
    text-align: center;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 25px;
}
