html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
}

/* .gradient{
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 13%, rgb(0, 0, 0) 100%); 
} */

/* .page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: rgb(218, 28, 132);
} */

.jumbotron-custom {
    padding:80px 250px 400px 10px !important;
    margin: 0 !important;
    background-size: cover !important;
    text-align: left;
    border-radius: 0 !important;

}

.jumbotron-custom h1 {
    color: #fff !important;
    font-size: 60px !important;  
    font-family: 'Shift', sans-serif !important;
    font-weight: bold !important;

}

.jumbotron-custom p{
    color: #fff !important;
    font-size: 20px !important;  
    font-family: 'Shift', sans-serif !important;
}

.jumbotron-main{
    background-image: url("../assets/images/mainpage.jpeg") !important;
    text-align: left;
}

.jumbotron-artists{
    background-image: url("../assets/images/antoine-boissonot-qwqPaBXOjfc-unsplash.jpg") !important;
    text-align: left;
}

.jumbotron-albums{
    background-image: url("../assets/images/brett-jordan-x3wDxZJx9qs-unsplash.jpg") !important;
    text-align: left;
}

.jumbotron-songs{
    background-image: url("../assets/images/pexels-bryan-catota-3756766.jpg") !important;
    text-align: left;
}
.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }